---
---

@import "jekyll-theme-minimal";

audio.podcast {
	width:100%;
}

img#logo {
	max-width:75%;
}

#icons {
	float: right;
	text-align: center;
}

#icons a {
	display: block;
	margin-bottom: 0.5em;
	line-height: 1;
}

p img {
	height: 1.5ex;
}

@media(prefers-color-scheme:dark) {
	html {
		filter: invert(1) hue-rotate(180deg);
	}
	img:not([alt="GitHub"]) {
		filter: invert(1) hue-rotate(180deg);
	}
}
